<mat-card fxLayout="column wrap" fxLayoutAlign="start start">

  <mat-card-header>
    <mat-card-title style="padding-left:110px">
      <div class="Ministry-of-Transpor">Ministry of Transportation</div>
      <div fxShow fxHide.lt-md class="Welcome-to-the-Self">Welcome to the Self Service Portal</div>
      <div fxShow fxHide.lt-md class="Login-to-your-accoun">Login to your account</div>
    </mat-card-title>
  </mat-card-header>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <mat-card-content fxLayout="column wrap" fxLayoutAlign="start start" style="padding-left:125px">
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="loginId">
        <mat-error *ngIf="loginIdControl.hasError('required')">Login Id is required</mat-error>
        <mat-error *ngIf="loginIdControl.hasError('minlength')">Please enter a valid email address/phone number
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password" type="password" formControlName="password">
        <mat-error *ngIf="passwordControl.hasError('required')">Please enter password</mat-error>
        <mat-error *ngIf="passwordControl.hasError('minlength')">
          Must be at least {{passwordControl.errors['minlength'].requiredLength}}.
          Entered {{passwordControl.errors['minlength'].actualLength}}
        </mat-error>
      </mat-form-field>
      <div class="error">
        {{loginErrorMessage}}
      </div>
    </mat-card-content>

    <mat-card-actions fxLayoutAlign="flex-end" fxLayoutGap="30px">
      <button mat-stroked-button color="primary" [disabled]="true">REGISTER</button>
      <button type="submit" color="accent" mat-flat-button [disabled]="!loginForm.valid">&nbsp;&nbsp;LOGIN&nbsp;&nbsp;</button>
    </mat-card-actions>
    <div fxLayoutAlign="flex-start" fxLayoutGap="315px" style="padding-left:110px">
      <mat-checkbox class="Remember-Me">Remember Me</mat-checkbox>
      <a href="#/not-implemented" class="Forgot-Password">Forgot Password</a>
    </div>
  </form>
  <div>&nbsp;</div>
</mat-card>