<mat-card fxLayout="column wrap" fxLayoutAlign="start start">

    <mat-card-header>
        <mat-card-title class="cardTitle">
          <div class="Self-Service-Portal">Self Service Portal > <span class="Renew-Drivers-Licen">Renew Driver's License</span></div>
          <div class="Renew-Drivers-Licen1">Renew Driver's License</div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="cardContent">

        <div fxLayout="row">
            <div class="text-header">Driver License Number</div>
            <div class="text-data">{{currentUser.driverLicenseNumber}}</div>
        </div>
      
        <div fxLayout="row">
            <div class="text-header">Trillium Number</div>
            <div class="text-data">{{currentUser.trilliumNumber}}</div>
        </div>
      
        <div fxLayout="row">
            <div class="text-header">Postal Code</div>
            <div class="text-data">{{currentUser.postalCode}}</div>
        </div>
      
        <div fxLayout="row">
            <div class="text-header">Date of Birth</div>
            <div class="text-data">{{currentUser.dob}}</div>
        </div>
    
        <div fxLayout="row">
            <div class="text-header">Date of Report</div>
            <div class="text-data">{{ now | date}}</div>
        </div>
      
        <ng-container id="precheckMessage" *ngIf="precheckMessage">
            <div>
                <mat-divider [inset]="true"></mat-divider>
                    <br/>
                    <div class="ELIGIBILITY">ELIGIBILITY</div>
                    <div class="You-are-eligible-to"> <mat-icon mat-list-icon>check_circle_outline
                    </mat-icon> {{precheckMessage.message}}</div>
                    <br/>
                <mat-divider [inset]="true"></mat-divider>
            </div>
            <mat-list>
    
              <mat-list-item *ngFor="let reason of precheckMessage.reasons">
                <mat-icon mat-list-icon>check</mat-icon>
                <h4 mat-line>{{reason.reasonDescription}}</h4>
              </mat-list-item>
    
            </mat-list>
          </ng-container>

          <app-questioner *ngIf="preEligible" (questionsSubmitted)="questionsSubmitted($event)"></app-questioner>
      </mat-card-content>

    </mat-card>
            

             
    
            
   
           
      