/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    src: url('../../assets/fonts/open-sans-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('../../assets/fonts/open-sans-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/open-sans-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/open-sans-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../../assets/fonts/open-sans-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/open-sans-v16-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }

:host {
    width: 100%;
}

.page-content {
    padding-left: 128px;
    padding-right: 128px;
}

.page-content-mob {
    padding-left: 40px;
    padding-right: 40px;
}

.banner {
    height: 230px;
    width: 100%;
    background-image: url("../../assets/images/home_banner.png");
    padding: 0 !important;

    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}

mat-card {
    max-width: 400px;
}

mat-card-content {
    font-size: 18px;
}

mat-card-title {
    font-size: 22px;
}

.content-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #616161;
    padding-top: 56px;
}

.content-sub-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #616161;
}
.content-sub-header-mob {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #616161;
}

.content-sub-header-2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    font-weight: 600;
    color: #616161;
    padding-top: 28px;
}

.notifications {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #01579b;
    padding-top: 20px;
}

mat-divider {
      width: 80%;
      margin-top: 20px;
}
mat-divider:first-of-type {
    margin-top: 40px;
}

.time-to-renew {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #01579b;
    padding-top: 15px;
}

.license-renew-date {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color:  #01579b;
}

.get-started {
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: #616161;
    padding-top: 60px;
    padding-bottom: 16px;
}
.get-started-mob {
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: #616161;
    padding-top: 30px;
    padding-bottom: 16px;
}

.option-link {
      color: #01579b;
}

.option-link-ancor {
    padding-left: 20px;
    color: #01579b;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
}
.option-link-ancor-mob {
    padding-left: 20px;
    color: #01579b;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
}

#allOptionLinks>div {
      margin: 10px 10px 10px 0;
}

button[mat-fab] {
      background-color: #01579b;
      height: 80px;
      width: 80px;;
}

button[mat-fab] mat-icon {
    font-size: 40px;
    height: 40px;
    width: 40px;
}

.how-it-works {
    margin-top: 30px;
    padding-top: 20px;
    width: 100%;
    color: white;
}

.how-it-works-header {
    padding-left: 128px;
    padding-right: 128px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    padding-top: 10px;
    line-height: 1.6;
    font-weight: 300;
}

.how-it-works-sub-header {
    padding-left: 128px;
    padding-right: 128px;
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 600;
}

.reniew-criteria {
    padding-left: 128px;
    padding-right: 128px;
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    padding-top: 15px;
}

.renew-criteria-list {
    padding-left: 128px;
    padding-right: 128px;
    padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    padding-top: 10px;
    line-height: 1.6;
    font-weight: 50;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}
 
.float-my-children > * {
    float:right;
    margin-right:5px;
}

/* this is called a clearfix. it makes sure that the container's children floats are cleared, without using extra markup */

.clearfix {
    *zoom:1 /* for IE */
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* end clearfix*/

.shadow {
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}