/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    src: url('../../../assets/fonts/open-sans-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('../../../assets/fonts/open-sans-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../../assets/fonts/open-sans-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../../assets/fonts/open-sans-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../../../assets/fonts/open-sans-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../../assets/fonts/open-sans-v16-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }

.question-option {
    font-size: 16px;
}

.question-description {
    padding-left: 20px;
    font-size: 12px;
    color: #0288d1;
}

/* label.question-label {
    font-weight: bold;
    font-size: 15px;
} */
label.question-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #616161;
}
label.question-label-mob {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 600;
    color: #616161;
}

mat-radio-group {
    padding-top: 20px;
    width: 100%;
}

mat-radio-button {
    padding: 3px 0 3px 0;
}

.help-icon {
    font-size: 30px;
    color: #01579b;
    padding-left: 10px;
}